{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block head %}
<style>
 .blanrform {
 	 /* visibility: hidden; */
	 position: absolute;
 }

</style>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<style>
	html,
	body {
	  height: 100%;
	}

	body {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-align: center;
	  align-items: center;
	  padding-top: 40px;
	  padding-bottom: 40px;
	  background-color: #f5f5f5;
	}
	.tglogin{
		margin: 20px;
	}
	.form-signin {
	  width: 100%;
	  max-width: 330px;
	  padding: 15px;
	  margin: auto;
	}
	.form-signin .checkbox {
	  font-weight: 400;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

{% endblock %}


{% block content %}
	<body class="text-center">

		<form class="form-signin">
			{% csrf_token %}
			<div class="tglogin">
				<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="zaktsyAuthBot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
			</div>
		</form>



		<form class="blanrform" style="visibility:hidden" action="" method="POST" id='form1'>
		{% csrf_token %}
			<label for="tg_idname">Username:</label>
			<input type="text" name="username" value="5" maxlength="100"  id="tg_idname">

			<label for="id_first_name">First name:</label>
			<input type="text" name="first_name" value="5" maxlength="100"  id="id_first_name">

			<label for="id_last_name">Last name:</label>
			<input type="text" name="last_name" value="5" maxlength="100"  id="id_last_name">

			<label for="id_tg_id">Id user:</label>
			<input type="text" name="tg_id" value="5" maxlength="100" required="" id="id_tg_id">

			<input type="Submit" id='sub' name="submit" value="Submit">
		</form>


	<script>
	function onTelegramAuth(user) {
	if(user.username == undefined){
		$('#tg_idname').val("none");
	}else{
		$('#tg_idname').val(user.username);
	}
	$('#id_first_name').val(user.first_name);
	if(user.last_name == undefined){
		$('#id_last_name').val("none");
	}else{
		$('#id_last_name').val(user.last_name);
	}
	$('#id_tg_id').val(user.id);
	$('#sub').click();
	}

	</script>




</body>
{% endblock %}
