{% extends 'baselk.html' %}
{% load static %}
{%block mainContent%}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 theme zag">Инструкция</h1>
      </div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp1 Управление</h2>
        <p class="name1">&nbsp&nbsp&nbspНа данной вкладке находится вся информация по вашему боту: количество сообщений, график сообщений,
        количество команд и пользователей. Вы можете выбрать бота кнопкой в верхнем правом углу. Здесь же вы можете включить/отключить бота</p>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp2 Мои боты</h2>
        <p class="name1">&nbsp&nbsp&nbspДанная вкладка позволит вам создавать и редактировать своих ботов. Нажмите на кнопку "Создать бота", Для начала необходимо создать бота в <a class=" nav-link1" style="font-size: 1em" href="https://t.me/botfather">BotFather</a>
        Напишите боту команду /newbot и следуйте инструкциям.
        Скопируйте полученный токен и вставьте в поле.Ваш первый бот создан! <br>
        &nbsp&nbsp&nbspНо он еще совсем ничего не умеет. Чтобы добавить команды, нажмите <i class="fa fa-pencil" aria-hidden="true"></i> на карточке бота.
        Чтобы удалить бота нажмите <i class="fa fa-ban" aria-hidden="true"></i>. Вы можете выключить бота по кнопке
      <i class="fa fa-toggle-off" aria-hidden="true"></i>.</p>
      <div class="razdel"></div>
      <div class="razdel"></div>
      <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp3 Редактирование ботов</h2>
        <p class="name1">&nbsp&nbsp&nbspЗдесь вы можете добавить команды своему боту! Вы можете просматривать добавленные команды и удалять их. Чтобы сделать вашего боту чуточку
        умнее запишите в поля Команду и Ответ и нажмите на кнопку "Добавить команду". Все готово, ваш бот научился первым словам!</p>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp4 Пользователи</h2>
        <p class="name1">&nbsp&nbsp&nbsp Это то место, где вы можете лучше узнать пользователей вашего бота. А что тут? да все самое необходимое! Ссылка на Телеграм пользователя, его имя, фамилия и id.
        Кроме того, здесь есть две специальные кнопки: "Сообщение" и "Удалить". С помощью первой вы можете написать пользователю сообщение от имени бота, а вторая удалит человека из списка
      пользователей.</p>
      <div class="razdel"></div>
      <div class="razdel"></div>
      <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp5 Профиль</h2>
        <p class="name1">&nbsp&nbsp&nbspА здесь вся самая нужная информация о вас! Пока что здесь функций никаких нет, но в будующем обязательно появятся!</p>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp6 Инструкция</h2>
        <p class="name1">Ваш главный помощник по работе с сервисом! Если что-то стало непонятно, возвращайтесь сюда!</p>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <div class="razdel"></div>
        <h2 class="h3 theme zag">&nbsp&nbsp&nbsp7 Тема</h2>
        <p class="name1">&nbsp&nbsp&nbspНа сайте присутствуют две темы: светлая и темная. Выбирайте какую хотите! наш сервси автоматически запомнит, какая вам нравится больше</p>
    </main>
{%endblock%}
