{% extends 'baselk.html' %}
{% load static %}

{% block title %}Оплата тарифа{% endblock %}


{% block head%}

    <style>
      .container {
        max-width: 960px;
      }

      .pricing-header {
        max-width: 700px;
      }
    </style>

{%endblock%}


{%block mainContent%}


    <main class=" col-md-9 col-lg-10 ms-sm-auto px-md-5">
      <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Тарифы</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>

    <div class="row row-cols-2 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Бесплатный</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">0₽ <small class="text-muted">/ 3 дня</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 бот включен</li>
            <li>2 ГБ памяти</li>
            <li>Поддержка по электронной почте</li>
            <li>Доступ к справочному центру</li>
            <li>3 дня бесплатно</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Выбрать</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Стандарт</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">390₽ <small class="text-muted">/ мес</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 ботов включены</li>
            <li>10 ГБ памяти</li>
            <li>Приоритетная поддержка по электронной почте</li>
            <li>Доступ к справочному центру</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Выбрать</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Про</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">590₽ <small class="text-muted">/ мес</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 ботов включены</li>
            <li>15 ГБ памяти</li>
            <li>Поддержка по телефону и электронной почте</li>
            <li>Доступ к справочному центру</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Выбрать</button>
        </div>
      </div>
      </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
          <small class="d-block mb-3 text-muted">© 2017-2020</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Cool stuff</a></li>
            <li><a class="link-secondary" href="#">Random feature</a></li>
            <li><a class="link-secondary" href="#">Team feature</a></li>
            <li><a class="link-secondary" href="#">Stuff for developers</a></li>
            <li><a class="link-secondary" href="#">Another one</a></li>
            <li><a class="link-secondary" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Resource</a></li>
            <li><a class="link-secondary" href="#">Resource name</a></li>
            <li><a class="link-secondary" href="#">Another resource</a></li>
            <li><a class="link-secondary" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Team</a></li>
            <li><a class="link-secondary" href="#">Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy</a></li>
            <li><a class="link-secondary" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>
  </main>
{%endblock%}
