{% extends 'baselk.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head%}
{%endblock%}
{%block mainContent%}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 zag">Мой профиль</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-5 ">
          <div class=" name-card">
            <div class="card1">
              <div class="name">
                Ник:
              </div>
              <div class="name1">
                 {{auth.userData.user_name}}
              </div>
            </div>
            <div class="card1">
              <div class="name">
                Имя:
              </div>
              <div class="name1">
                 {{auth.userData.user_firstname}}
              </div>
            </div>

            <div class="card1">
              <div class="name">
                Фамилия:
              </div>
              <div class="name1">
                 {{auth.userData.user_lastname}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </main>
{%endblock%}
